body {
  background-color: #012840;
  color: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1{
  text-align: center;
  font-size:xx-large;
}

h2{
  text-align: center;
  font-size:xx-large;
}

.outsideContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.insideContainer {
  flex: 2;
  background-color: #012840;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.tasksContainer{
  flex: 2;
  background-color: #9CA653;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.tasksContainer ul, .fraseContainer ul {
  list-style: none;
  padding: 0;
}

.fraseContainer li {
  list-style: none;
  margin: 10px 0; 
  padding: 5px;
  background-color: #012840;
  border-radius: 8px;
  width: 98%;
}


.completedContainer {
  flex: 2;
  background-color: #9CA653;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.deletedContainer {
  flex: 2;
  background-color: #9CA653;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.tasksContainer button, .toggleButton {
  background-color: #7FA7E5;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tasksContainer button:hover, .toggleButton:hover {
  background-color: #7FA7E5;
}

.recoverButton{
  background-color: #7FA7E5;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

@media (min-width: 768px) {
  .outsideContainer {
    flex-direction: row;
    justify-content: center;
  }

  .insideContainer {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
